<footer class="navbar navbar-fixed-bottom">
    <!-- to rework when design ready-->
    @*<div class="row">
            <div class="col-md-12">
                <div class="col-md-3">
                    <ul>
                        <li>
                            <a href="~/">Acasă</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">

                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Linkuri sociale</h5>
                        </div>
                        <div class="col-md-6">
                            <ul>
                                <li>
                                    <a href="https://web.facebook.com/govithub/">Facebook</a>
                                </li>
                                <li>
                                    <a href="#">Twitter</a>
                                </li>
                                <li>
                                    <a href="#">YouTube</a>
                                </li>
                                <li>
                                    <a href="#">Google +</a>
                                </li>
                                <li>
                                    <a href="#">LinkedIn</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>*@
    <div class="row">
        <div class="col-md-12">

            <div class="col-md-6">
                <a href="http://gov.ro" target="_blank"><img src="~/images/logo-guv.png" class="logo-guv" /></a>
                <a href="http://ithub.gov.ro" target="_blank"><img src="~/images/govithub-logo-gray.png" class="logo-govit" /></a>
                <span>
                    © Gov IT Hub 2016
                </span>
            </div>
            <div class="col-md-6">

            </div>
        </div>

    </div>
</footer>